/* Reset de estilos para garantir consistência entre navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to top, #196438, #82A145, #E8D9B7);
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  background-color: #f0f5f0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 100; 
}

.logo {
  font-family: 'Trajan Pro', serif;
  font-size: 1.5rem;
  color: #196438;
  text-decoration: none;
}

/* Botão do WhatsApp */
.whatsapp-button {
  background-color: #82A145;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

/* Cards - REMOVIDO */
/*.card {*/
/*  background: rgba(255, 255, 255, 0.25);*/
/*  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);*/
/*  backdrop-filter: blur(4px);*/
/*  -webkit-backdrop-filter: blur(4px);*/
/*  border-radius: 10px;*/
/*  border: 1px solid rgba(255, 255, 255, 0.18);*/
/*  padding: 20px;*/
/*  margin-bottom: 20px;*/
/*  cursor: pointer;*/
/*  transition: transform 0.3s ease;*/
/*}*/

/*.card h2 {*/
/*  color: #196438;*/
/*  margin-bottom: 10px;*/
/*}*/

/*.card-content {*/
/*  display: none;*/
/*  margin-top: 10px;*/
/*}*/

/*.card.expanded .card-content {*/
/*  display: block;*/
/*}*/

main {
  margin-top: 70px; /* Espaçamento para o header */
  text-align: center;
}

h1 {
  font-family: 'Trajan Pro', serif;
  font-size: 2.5rem; 
  color: #196438;
  margin-bottom: 10px; 
}

h2 {
  font-size: 1.8rem; 
  color: #196438;
  margin-bottom: 10px; 
}

h3 {
  font-size: 1.2rem; 
  color: #196438;
  margin-bottom: 20px; 
}

/* Bottombar */
.bottombar {
  background-color: #f0f5f0;
  padding: 10px;
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100; 
  text-align: center; 
}

/* Estilos para telas maiores (breakpoints) */
@media (min-width: 768px) {

  .logo {
    font-size: 2rem;
  }

  .whatsapp-button {
    padding: 10px 20px;
    font-size: 1.2rem;
  }

  /*.card {*/
  /*  margin-bottom: 30px;*/
  /*}*/

  main {
    margin-top: 100px; /* Ajuste o espaçamento para telas maiores */
  }

  h1 {
    font-size: 3rem; 
  }

  h2 {
    font-size: 2rem; 
  }

  h3 {
    font-size: 1.4rem; 
  }
}